#question_wrapper
{
    width: 30%;
    top: 25%;
    left: 35%;
    margin: 0 auto;
    position: fixed;
    border: 1px solid #000000;
    padding: 0.5em;
}

#info_dialogue_wrapper
{
    width: 30%;
    margin: 0 auto;
    position: fixed;
    top: 25%;
    left: 35%;
    border: 1px solid #000000;
    padding: 0.5em;
}

.display_question ul
{
    list-style-type: none;
    margin: 0.5em;
}

#options ul
{
    list-style-type: none;
}

#question_text
{
    font-size: 14pt;
}

#question_text ul
{
    list-style: none;
}

#quiz_title
{
    font-size: 22pt;
    
}

#timer
{
    font-size: 14pt;
}

#prev_next_buttons
{
    margin: auto;
}

#prev_next_buttons #prev_button
{
    float: left;
}

#prev_next_buttons #next_button
{
    float: right;
}

#submit
{
    margin: 0 auto;
}

#submit #submit_button
{
    float: left;
}

#progress
{
    font-size: 14pt;
}

#info_dialogue
{
    font-size: 14pt;
}

