/* 
    Document   : quizdelivery
    Created on : Jul 29, 2013, 7:47:27 PM
    Author     : JWO
    Description:
        Purpose of the stylesheet follows.
*/


#question_wrapper
{
    width: 50%;
    margin: 0 auto;
    position: relative;
    border: 1px solid #000000;
}

#info_dialogue_wrapper
{
    width: 50%;
    margin: 0 auto;
    border: 1px solid #000000;
}

#question_text
{
    font-size: 14pt;
}

#question_text ol
{
    list-style: none;
}

#quiz_title
{
    font-size: 22pt;
    
}

#timer
{
    font-size: 14pt;
}

#progress
{
    font-size: 14pt;
}

#info_dialogue
{
    font-size: 14pt;
}

