/* 
    Document   : usermanager.css
    Created on : Jul 10, 2013, 11:28:08 AM
    Author     : JWO
    Description:
        Purpose of the stylesheet follows.
*/



#hierarchical_list
{
    border: 1px solid #000000;
}